# Amazon SP-API Credentials
SP_API_CLIENT_ID=your_client_id
SP_API_CLIENT_SECRET=your_client_secret
SP_API_REFRESH_TOKEN=your_refresh_token
SP_API_AWS_ACCESS_KEY=your_aws_access_key
SP_API_AWS_SECRET_KEY=your_aws_secret_key
SP_API_ROLE_ARN=your_role_arn
SP_API_MARKETPLACE_ID=ATVPDKIKX0DER
SP_API_REGION=us-east-1
